*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    background-color: black;
    color: aliceblue;
}

.header{
    width: 100%;
    /* border-color: red; */
    /* border: 1px solid red; */
    height: 150px;
    /* background-image: url(https://wallpaperaccess.com/full/5651990.jpg); */
    background-position: center;
    background-size: cover;
}

nav{
    width: 100%;
    /* border-color: red; */
    padding: 20px 0;
    text-align: center;
    z-index: 999999;
}
.logo{
    width: 120px;
    border-radius: 50%;
    padding: 10px 0;
    cursor: pointer;
}
nav ul{
    background-color: black;
    width: 100%;
    margin-top: 10px;
    border: 1px solid red;
}
nav ul li{
    display: inline-block;
    font-size: 20px;
    list-style: none;
    margin: 20px 30px;
    color: aliceblue;
    cursor: pointer;
    border: 1px solid blue;
}

nav.sticky{
    position: fixed;
    height: 100px;
    border-color: aqua;
    top: 0;
    left: 0;
    font-size: 20px;
    
    padding: 10px 8%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: padding 1s;

}
nav.sticky ul{
    width: auto;
    background-color: black;
}


 #home{
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(1,500px);
    width: 90%;
    gap: 10%;
    height: auto;
    margin: auto;
    margin-top: 100px;
}

#home>div{
    border: 1px solid green;
    
    
}
#home>div:nth-child(1){
    text-align: center;
    
}
#home>div:nth-child(2){
    text-align: center;

}
#home_details{
    line-height: 70px;
}
#home_details h1{
    font-size: 50px;
    font-weight: 600;

}

#home_details h3{
    font-size: 30px;
    font-weight: 600;

}

#home>div:nth-child(2)>img{
    width: auto;  
    height: 90%;  
    border-radius: 10%;
    /* border: 10px solid red; */
   margin-top: 20px;
} 

span{
    color: rgb(12, 97, 140);
} 

.btn{
    border: 1px solid #3498db;
    background: none;
    /* color: whitesmoke; */
    padding: 10px 20px;
    font-size: 20px; 
    
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    /* position: relative;
    overflow: hidden; */
    border-radius: 5px;
}
.btn1{
    color: #3498db;
}

.btn1:hover{
    color: #fff;
    background-color: #3498db;
    transition: all 0.7s ease;
}


.icon{
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

#resbtn{
    cursor: pointer;
    border: 1px solid white;
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    border-radius: 10px;
}

#about_me{
    width: 90%;
    /* height: 1000px; */
    margin: auto;
    margin-top: 80px;
    border: 1px solid blue;
    margin-bottom: 40px;
    
   
}

#share i{
    font-size: 25px;
    padding-left: 10px;
}

#about_me_Heading{
    border: 1px solid green;
    margin-top: 40px;
    font-size: 30px;
    text-align: center;
    font-family: "montserrat";
    
}

#about_me_main_part{
    width: 70%;
    margin: auto;
    margin-top: 100px;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
}

#about_me_gif{
    width: 80%;
    height: auto;
    text-align: center;
    /* margin-top: 20px; */
    margin: auto;
    border: 1px solid red;
}
#about_me_gif>img{
    margin-top: 40px;
    width: 30%;
}

#about_me_skills{
    width: 50%;
    /* height: 400px; */
    
    margin: auto;
    height: auto;
    margin-top: 50px;
    margin-bottom: 80px;
    border: 1px solid aqua;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(auto,auto);
    gap: 20%;
}
#about_me_skills>div{
    border: 1px solid greenyellow;
    text-align: center;
}



/* ------------------------------ */

#skills{
    width: 90%;
    margin: auto;
    margin-top: 100px;
    border: 1px solid red;
}
#skills-heading{
    width: 90%;
    margin: auto;
    text-align: center;
    border: 1px solid salmon;
}
#skills-list{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(auto,1fr);
    border: 1px solid blue;
    text-align: center;
    gap: 20px;
    margin-bottom: 100px;

}
#skills-list>div{

    /* border: 1px solid red; */
    line-height: 30px;
}
#skills-list>div:hover{
    cursor: pointer;
    background-color: rgb(11, 11, 11);
}
#skills-list>div>img{
    width: 20%;
    border-radius: 25%;
}





	/* meidum screens */
    @media all and (min-width: 768px) and (max-width: 1024px) {
        body.disabledScroll{
            overflow: hidden;
        }
        
        .icon{
            display: block;
        }

        .icon.hide{
            display: none;
        }
        .navbar{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }


        
        
        .navbar .menu{
            /* display: none; */
            position: fixed;
            top: 0;
            left: -100%;
            height: 100vh;
            width: 100%;
            max-width: 400px;
            
            display: block;
            padding: 40px 0;
            text-align: center;
            transition: 0.5s ease;
        }
        .navbar .menu.active{
            left: 0%;
        }

        .navbar .menu li{
            margin-top: 45px;
        }

        .navbar .menu li a{
            font-size: 23px;
        }

        #home{
            border: 1px solid red;
            display: grid;
            grid-template-columns: repeat(1,auto);
            grid-template-rows: repeat(2,auto);
            width: auto;
            gap: 10%;
            height: auto;
            margin: auto;
            /* margin-top: 100px; */
        }
        
        #home>div{
            border: 1px solid green;
            
            
        }
        #home>div:nth-child(1){
            text-align: center;
            
        }
        #home>div:nth-child(2){
            text-align: center;
        
        }
        #home_details{
            line-height: 70px;
        }
        #home_details h1{
            font-size: 50px;
            font-weight: 600;
        
        }
        
        #home_details h3{
            font-size: 30px;
            font-weight: 600;
        
        }
        
        #home>div:nth-child(2)>img{
            width: 40%;  
            height: auto;  
            border-radius: 10%;
            /* border: 10px solid red; */
           /* margin-top: 20px; */
        } 




        #about_me_skills{
            width: 50%;
            /* height: 400px; */
            
            margin: auto;
            height: auto;
            margin-top: 50px;
            margin-bottom: 80px;
            border: 1px solid aqua;
            display: grid;
            grid-template-columns: repeat(2,auto);
            grid-template-rows: repeat(auto,auto);
            gap: 20%;
        }
        #about_me_skills>div{
            border: 1px solid greenyellow;
            text-align: center;
        }

        #skills{
            width: 90%;
            margin: auto;
            margin-top: 100px;
            border: 1px solid red;
        }
        #skills-heading{
            width: 90%;
            margin: auto;
            text-align: center;
            border: 1px solid salmon;
        }
        #skills-list{
            margin-top: 100px;
            display: grid;
            grid-template-columns: repeat(4,1fr);
            grid-template-rows: repeat(auto,1fr);
            border: 1px solid blue;
            text-align: center;
            gap: 20px;
            margin-bottom: 100px;
        
        }
        #skills-list>div{
        
            /* border: 1px solid red; */
            line-height: 30px;
        }
        #skills-list>div:hover{
            cursor: pointer;
            background-color: rgb(11, 11, 11);
        }
        #skills-list>div>img{
            width: 20%;
            border-radius: 20%;
        }

      }

			/* small screens */
      @media all and (min-width: 320px) and (max-width: 767px) {
        body.disabledScroll{
            overflow: hidden;
        }
        
        .icon{
            display: block;
        }

        .icon.hide{
            display: none;
        }
        .navbar{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        
        .navbar .menu{
            /* display: none; */
            position: fixed;
            top: 0;
            left: -100%;
            height: 100vh;
            width: 100%;
            max-width: 400px;
            
            display: block;
            padding: 40px 0;
            text-align: center;
            transition: 0.5s ease;
        }
        .navbar .menu.active{
            left: 0%;
        }

        .navbar .menu li{
            margin-top: 45px;
        }

        .navbar .menu li a{
            font-size: 23px;
        }

        #home{
            border: 1px solid red;
            display: grid;
            grid-template-columns: repeat(1,auto);
            grid-template-rows: repeat(2,auto);
            width: auto;
            gap: 10%;
            height: auto;
            margin: auto;
            /* margin-top: 100px; */
        }
        
        #home>div{
            border: 1px solid green;
            
            
        }
        #home>div:nth-child(1){
            text-align: center;
            
        }
        #home>div:nth-child(2){
            text-align: center;
        
        }
        #home_details{
            line-height: 70px;
        }
        #home_details h1{
            font-size: 50px;
            font-weight: 600;
        
        }
        
        #home_details h3{
            font-size: 30px;
            font-weight: 600;
        
        }
        
        #home>div:nth-child(2)>img{
            width: 30%;  
            height: auto;  
            border-radius: 10%;
            /* border: 10px solid red; */
           /* margin-top: 20px; */
        } 

        #about_me_skills{
            width: 50%;
            /* height: 400px; */
            
            margin: auto;
            height: auto;
            margin-top: 50px;
            margin-bottom: 80px;
            border: 1px solid aqua;
            display: grid;
            grid-template-columns: repeat(2,auto);
            grid-template-rows: repeat(auto,auto);
            gap: 20%;
        }
        #about_me_skills>div{
            border: 1px solid greenyellow;
            text-align: center;
           
        }

        #skills{
            width: 90%;
            margin: auto;
            margin-top: 100px;
            border: 1px solid red;
        }
        #skills-heading{
            width: 90%;
            margin: auto;
            text-align: center;
            border: 1px solid salmon;
        }
        #skills-list{
            margin-top: 100px;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: repeat(auto,1fr);
            border: 1px solid blue;
            text-align: center;
            gap: 20px;
            margin-bottom: 100px;
        
        }
        #skills-list>div{
        
            /* border: 1px solid red; */
            line-height: 30px;
        }
        #skills-list>div:hover{
            cursor: pointer;
            background-color: rgb(11, 11, 11);
        }
        #skills-list>div>img{
            width: 20%;
            border-radius: 20%;
        }
      }